<div>
    <mat-toolbar style="background-color:rgb(63, 63, 201);color:white">
        <mat-icon>dashboard</mat-icon>&nbsp;
      <span><a routerLink="/dashboard" style="color: white; text-decoration: none;">BookingGrounds</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><a routerLink="/addGround" style="color: white; text-decoration: none;">AddGround</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><a routerLink="/displayUsers" style="color: white; text-decoration: none;">DisplayUsers</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="spacer"></span>
      <span><a routerLink="/signUp" style="color: white; text-decoration: none;">Add Admin</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>logout</mat-icon>&nbsp;
      <span><a routerLink="" style="color: white; text-decoration: none;">Logout</a></span>
    </mat-toolbar>
</div>
