<app-admin-nav></app-admin-nav>
    <form style="margin:30px;">
    <mat-toolbar style="background-color:rgb(63, 63, 201);color:white;">
        <span fxFlex="25">UserName</span>
        <span fxFlex="25">Email-id</span>
        <span fxFlex="30">Contact</span>
        <span fxFlex="20"></span>
    </mat-toolbar>
    <mat-toolbar>
        <span fxFlex="25">UserName1</span>
        <span fxFlex="25">username1@gmail.com</span>
        <span fxFlex="30">XXXXXXXXXX</span>
        <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color:rgb(63, 63, 201);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon><a routerLink="/editUser" style= "text-decoration: none; color:white;">edit</a></mat-icon></div></span>
        <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color: rgb(204, 44, 57);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon>delete</mat-icon></div></span>
    </mat-toolbar>
    <mat-toolbar >
        <span fxFlex="25">UserName1</span>
        <span fxFlex="25">username1@gmail.com</span>
        <span fxFlex="30">XXXXXXXXXX</span>
        <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color:rgb(63, 63, 201);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon><a routerLink="/editUser" style= "text-decoration: none; color:white;">edit</a></mat-icon></div></span>
        <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color: rgb(204, 44, 57);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon>delete</mat-icon></div></span>
    </mat-toolbar>
    <mat-toolbar >
        <span fxFlex="25">UserName1</span>
        <span fxFlex="25">username1@gmail.com</span>
        <span fxFlex="30">XXXXXXXXXX</span>
        <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color:rgb(63, 63, 201);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon><a routerLink="/editUser" style= "text-decoration: none; color:white;">edit</a></mat-icon></div></span>
        <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color: rgb(204, 44, 57);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon>delete</mat-icon></div></span>
    </mat-toolbar>
    <mat-toolbar >
        <span fxFlex="25">UserName1</span>
        <span fxFlex="25">username1@gmail.com</span>
        <span fxFlex="30">XXXXXXXXXX</span>
        <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color:rgb(63, 63, 201);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon><a routerLink="/editUser" style= "text-decoration: none; color:white;">edit</a></mat-icon></div></span>
        <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color: rgb(204, 44, 57);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon>delete</mat-icon></div></span>
    </mat-toolbar>
    <mat-toolbar >
        <span fxFlex="25">UserName1</span>
        <span fxFlex="25">username1@gmail.com</span>
        <span fxFlex="30">XXXXXXXXXX</span>
        <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color:rgb(63, 63, 201);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon><a routerLink="/editUser" style= "text-decoration: none; color:white;">edit</a></mat-icon></div></span>
        <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color: rgb(204, 44, 57);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon>delete</mat-icon></div></span>
    </mat-toolbar>
    </form>
