<app-admin-nav></app-admin-nav>
<div style="margin-left:15px; width:50%">
<hr style="margin-top: 50px;">
<mat-toolbar style="margin-top: 15px; background-color:white ">
    <span fxFlex="20">Image</span>
    <span fxFlex="30" style="padding-left: 5px;">GroundName</span>
    <span fxFlex="10" style="padding-left: 2px;">Price</span>
    
</mat-toolbar>
<hr style="margin-top: 10px;">
<mat-toolbar style="margin-top: 15px; background-color:white ">
    <span fxFlex="20" style="margin-top:40px"><img src="../../../assets/ground.jpg" width="70%" height="60%"></span>
    <span fxFlex="30">GroundName</span>
    <span fxFlex="10">XXXXX</span>
    <span fxFlex="20" style="padding-left: 25px;"></span>
    <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color:rgb(63, 63, 201);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon><a routerLink="/editGround" style= "text-decoration: none; color:white;">edit</a></mat-icon></div></span>
    <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color: rgb(204, 44, 57);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon>delete</mat-icon></div></span>
</mat-toolbar>
<hr style="margin-top: 50px;">
<mat-toolbar style="margin-top: 15px; background-color:white ">
    <span fxFlex="20" style="margin-top:40px"><img src="../../../assets/ground.jpg" width="70%" height="60%"></span>
    <span fxFlex="30">GroundName</span>
    <span fxFlex="10">XXXXX</span>
    <span fxFlex="20" style="padding-left: 25px;"></span>
    <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color:rgb(63, 63, 201);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon><a routerLink="/editGround" style= "text-decoration: none; color:white;">edit</a></mat-icon></div></span>
    <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color: rgb(204, 44, 57);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon>delete</mat-icon></div></span>
</mat-toolbar>
<hr style="margin-top: 50px;">
<mat-toolbar style="margin-top: 15px; background-color:white ">
    <span fxFlex="20" style="margin-top:40px"><img src="../../../assets/ground.jpg" width="70%" height="60%"></span>
    <span fxFlex="30">GroundName</span>
    <span fxFlex="10">XXXXX</span>
    <span fxFlex="20" style="padding-left: 25px;"></span>
    <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color:rgb(63, 63, 201);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon><a routerLink="/editGround" style= "text-decoration: none; color:white;">edit</a></mat-icon></div></span>
    <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color: rgb(204, 44, 57);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon>delete</mat-icon></div></span>
</mat-toolbar>
<hr style="margin-top: 50px;">
<mat-toolbar style="margin-top: 15px; background-color:white ">
    <span fxFlex="20" style="margin-top:40px"><img src="../../../assets/ground.jpg" width="70%" height="60%"></span>
    <span fxFlex="30">GroundName</span> 
    <span fxFlex="10">XXXXX</span>
    <span fxFlex="20" style="padding-left: 25px;"></span>
    <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color:rgb(63, 63, 201);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon><a routerLink="/editGround" style= "text-decoration: none; color:white;">edit</a></mat-icon></div></span>
    <span fxFlex="10"><div style="border:none; border-radius: 8px; background-color: rgb(204, 44, 57);color:white; width:30px; padding: 5px; padding-top:10px; padding-left:10px"><mat-icon>delete</mat-icon></div></span>
</mat-toolbar>
<hr style="margin-top: 50px;">
</div>



